<app-header></app-header>
<br><br>
<div class="nav-scroller bg-white shadow-sm" style="margin-top: 10px;">
    <nav class="nav nav-underline">

        <a class="nav-link" [routerLink]="['/admin']">Объявления
            <span class="badge badge-pill bg-light align-text-bottom">2</span>
        </a>
        <a class="nav-link" [routerLink]="['/ad']">Дашборд</a>
    </nav>
</div>
<h4 style="text-align: center; margin-top: 15px;">Объявления</h4>
<div class="table-responsive">
    <table class="table" style="margin-top: 20px; font-size: 14px;">

    <thead>
      <tr style="text-align: center;">
        <th scope="col">#</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">Тип объявления</th>
        <th scope="col">Email</th>
        <th scope="col">Номер телефона</th>
        <th scope="col">Роль</th>
        <th scope="col">Изменить роль</th>
        <th scope="col">Удалить пользователя</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Малиновская</td>
            <td>Ксения</td>
            <td>Валерьевна</td>
            <td>Частное лицо</td>
            <td>+ 7 (918) 856-85-55</td>
            <td>ksenikmalin@gmail.com</td>
            <td>User</td>
            <th scope="col">
                <div class="form-group">
                    <select class="custom-select" required>
                      <option value="">Не выбрано</option>
                      <option value="1">User</option>
                      <option value="2">Admin</option>
                      <option value="2">Root</option>
                    </select>
                  </div>
                    <button type="button" class="btn btn-outline-success btn-outline-secondar" style="margin: 10px auto">Сохранить</button>
                
            </th>
            <th scope="col">
                    <button type="button" class="btn btn-danger" style="margin: 10px auto">Удалить пользователя</button>
                
            </th>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Малиновская</td>
            <td>Ксения</td>
            <td>Валерьевна</td>
            <td>Частное лицо</td>
            <td>+ 7 (918) 856-85-55</td>
            <td>ksenikmalin@gmail.com</td>
            <td>User</td>
            <th scope="col">
                <div class="form-group">
                    <select class="custom-select" required>
                      <option value="">Не выбрано</option>
                      <option value="1">User</option>
                      <option value="2">Admin</option>
                      <option value="2">Root</option>
                    </select>
                  </div>
                    <button type="button" class="btn btn-outline-success btn-outline-secondar" style="margin: 10px auto">Сохранить</button>
                
            </th>
            <th scope="col">
                    <button type="button" class="btn btn-danger" style="margin: 10px auto">Удалить пользователя</button>
                
            </th>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Малиновская</td>
            <td>Ксения</td>
            <td>Валерьевна</td>
            <td>Частное лицо</td>
            <td>+ 7 (918) 856-85-55</td>
            <td>ksenikmalin@gmail.com</td>
            <td>User</td>
            <th scope="col">
                <div class="form-group">
                    <select class="custom-select" required>
                      <option value="">Не выбрано</option>
                      <option value="1">User</option>
                      <option value="2">Admin</option>
                      <option value="2">Root</option>
                    </select>
                  </div>
                    <button type="button" class="btn btn-outline-success btn-outline-secondar" style="margin: 10px auto">Сохранить</button>
                
            </th>
            <th scope="col">
                    <button type="button" class="btn btn-danger" style="margin: 10px auto">Удалить пользователя</button>
                
            </th>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Малиновская</td>
            <td>Ксения</td>
            <td>Валерьевна</td>
            <td>Частное лицо</td>
            <td>+ 7 (918) 856-85-55</td>
            <td>ksenikmalin@gmail.com</td>
            <td>User</td>
            <th scope="col">
                <div class="form-group">
                    <select class="custom-select" required>
                      <option value="">Не выбрано</option>
                      <option value="1">User</option>
                      <option value="2">Admin</option>
                      <option value="2">Root</option>
                    </select>
                  </div>
                    <button type="button" class="btn btn-outline-success btn-outline-secondar" style="margin: 10px auto">Сохранить</button>
                
            </th>
            <th scope="col">
                    <button type="button" class="btn btn-danger" style="margin: 10px auto">Удалить пользователя</button>
                
            </th>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Малиновская</td>
            <td>Ксения</td>
            <td>Валерьевна</td>
            <td>Частное лицо</td>
            <td>+ 7 (918) 856-85-55</td>
            <td>ksenikmalin@gmail.com</td>
            <td>User</td>
            <th scope="col">
                <div class="form-group">
                    <select class="custom-select" required>
                      <option value="">Не выбрано</option>
                      <option value="1">User</option>
                      <option value="2">Admin</option>
                      <option value="2">Root</option>
                    </select>
                  </div>
                    <button type="button" class="btn btn-outline-success btn-outline-secondar" style="margin: 10px auto">Сохранить</button>
                
            </th>
            <th scope="col">
                    <button type="button" class="btn btn-danger" style="margin: 10px auto">Удалить пользователя</button>
                
            </th>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Малиновская</td>
            <td>Ксения</td>
            <td>Валерьевна</td>
            <td>Частное лицо</td>
            <td>+ 7 (918) 856-85-55</td>
            <td>ksenikmalin@gmail.com</td>
            <td>User</td>
            <th scope="col">
                <div class="form-group">
                    <select class="custom-select" required>
                      <option value="">Не выбрано</option>
                      <option value="1">User</option>
                      <option value="2">Admin</option>
                      <option value="2">Root</option>
                    </select>
                  </div>
                    <button type="button" class="btn btn-outline-success btn-outline-secondar" style="margin: 10px auto">Сохранить</button>
                
            </th>
            <th scope="col">
                    <button type="button" class="btn btn-danger" style="margin: 10px auto">Удалить пользователя</button>
                
            </th>
          </tr>
    </tbody>
  </table>
</div>


