<div class="card " style="width: 40%; margin: 100px auto;">
    <div class="card-header">
        <a href="#" class="btn btn-dark" [routerLink]="['']" >Назад</a>
       
    </div>
    <div class="card-body">
    <p class="card-text"> Той-терьер</p>
      <p class="card-text">Чудесные щенки в добрые заботливые руки. Доставка к дому. Родились 25.05.2020. Мать и отец породистые.</p>
      <p class="card-text">г. Москва</p> 
      <p class="card-text">Номер телефона: 8 985 415 22 11</p>
      <p class="card-text">Email: ksenikmalin@gmail.com</p>
      <p class="card-text">55 000 руб.</p><br>

    </div>
    <div class="card-footer text-muted">
      9 минут назад
    </div>
  </div>
